*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Fjalla One', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    display: inline;
}

.header-atas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: #2c3a1c;
    z-index: 900;
}

.header-atas img{
    width: 100px;
    margin: 0 auto;
}

.sosmed{
    display: flex;
    margin-right: 15px;
}

.sosmed ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.sosmed li{
    list-style-type: none;
}

.sosmed li a{
    text-decoration: none;
    font-size: 20px;
    color: #a0ae87;
    transition: all 0.1s ease-in-out;
}

.sosmed li a:hover{
    color: black;
}

.sidepanel{
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #2c3a1c;
    transition: 0.5s;
    padding-top: 10px;
    z-index: 1000;
}

.sidepanel a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.disco-btn{
    display: flex;
    padding: 8px 8px 8px 32px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.disco-container{
    display: none;
    padding-left: 15px;
}

.disco-container a{
    font-size: 20px;
}

.fa-caret-down {
    margin-left: 47px;
}

.active{
    background-color: #a0ae87;
    color: white;
}

.sidepanel a:hover, .disco-btn:hover{
    color: #a0ae87;
}

.sidepanel .closebtn{
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 25px;
}
  
.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #2c3a1c;
    color: #a0ae87;
    padding: 10px 15px;
    border: none;
}

main{
    padding-left: 30px;
    padding-top: 15px;;
    padding-right: 5px;
    display: flex;
    gap: 1.5rem;
}

#content{
    flex: 5;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem 2rem;
}

aside{
    flex: 1;
}

.profile h3{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.profile img{
    width: 200px;
    margin-bottom: 0px;
}

.profile table{
    font-size: 75%;
}

.disco{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.album{
    position: relative;
    display: inline-block;
}

.album img{
    display: block;
    width: 300px;
    border-radius: 10px;

}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    border-radius: 10px;
}

.album:hover .overlay{
    opacity: 0.8;
}

.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.disco-content a{
    color: #455232;
}

.disco-content a:hover{
    color: black;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: #a0ae87;
    margin: auto;
    background-color: #2c3a1c;
}

footer p{
    margin: 0;
}

footer .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer .social-media ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

footer .social-media li{
    list-style-type: none;
}

footer .social-media li a{
    text-decoration: none;
    font-size: 20px;
    color: #a0ae87;
    transition: all 0.1s ease-in-out;
}

footer .social-media li a:hover{
    color: black;
}

@media screen and (max-width: 600px){
    main{
        padding-left: 15px;
        padding-right: 15px;
        flex-flow: column-reverse nowrap;
    }
    
    main aside{
        align-self: center;
    }

    .disco{
        flex-flow: column wrap;
        align-items: center;
    }
}

@media screen and (max-width: 1200px){
    main{
        padding-right: 15px;
    }
    .disco{
        flex-flow: column wrap;
        flex-direction: column;
        align-self: center;
    }
}